/* Main styling of page */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body {
  text-align: center;
}

h1 {
  text-align: center;
  padding-top: 150px;
  font-size: 25px;
}

p {
  padding: 20px;
  font-size: 20px;
  text-align: right;
}

#button {
  text-align: center;
}

button {
  text-align: center;
  background-color: lightgreen;
  border-radius: 1rem;
  color: darkgreen;
  font-size: 20px;
  padding: 0px 12px 0px 12px;
}

.btn:hover {
  background-color: green;
  color: greenyellow;
}

#directions {
  text-align: center;
}

/* Quiz questions */
h2 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 1rem;
}

li {
  text-align: center;
  padding: 6px;
}

#answerResponse {
  font-style: italic;
  text-align: center;
  padding-top: 1rem;
}

/* Quiz completed page*/
#finalScore {
  text-align: center;
  font-size: 22px;
  padding-bottom: 1rem;
}

/* Highscore page*/
.endGame {
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.form-inline {
  align-items: center;
  text-align: center;

}